<template> 
	<div class="slds-grid">
		<div class="slds-col">  
			<lightning-card title="Campaigns" icon-name="standard:campaign" >   
				<!--<div class="slds-clearfix">
				<div class="slds-float_right" style="padding-right: 1%;">
                    <lightning-button  label="Add member to campaign" title="Add member to campaign"  onclick={openModal} style="background-color: var(--lwc-buttonColorBorderPrimary,rgb(221, 219, 218));"></lightning-button>
				</div>
			    </div>
				<br/>--> 
				<lightning-button  label="Add member to campaign" title="Add member to campaign" slot="actions" onclick={openModal} style="background-color: var(--lwc-buttonColorBorderPrimary,rgb(221, 219, 218));"></lightning-button>
				<template if:true={data}>
				<lightning-datatable key-field="Id" data={data} columns={columns} sorted-by={sortBy} sorted-direction={sortDirection} onsort={handleSortdata} max-row-selection={maxrowselection} onrowselection={getSelectedRecords} hide-checkbox-column="true" ></lightning-datatable>
				<div class="slds-m-around_medium">
					<p >Displaying {startingRecord} to {endingRecord} of {totalRecountCount} records.Page {page} of {totalPage}. </p>
					<template if:true={setPagination}>
					<c-hsmapeoplesearchpaginationvenkat onprevious={previousHandler} onnext={nextHandler} onfirst={handleFirst}  onlast={handleLast} currentpage={page} totalrecords={totalRecountCount} pagesize={pageSize}></c-hsmapeoplesearchpaginationvenkat>
					</template>
			   </div>
				</template> 
				<template if:false={data}>
					<center><p><b>No Campaigns present for the selected contact</b></p></center>
				  </template>         				
			</lightning-card>
		</div>
	</div>
	<template if:true={bShowModal}>
		<section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
		   <div class="slds-modal__container">			  
			  <header class="slds-modal__header">
				 <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeModal}>
					<lightning-icon icon-name="utility:close"
					   alternative-text="close"
					   variant="inverse"
					   size="small" ></lightning-icon>
					<span class="slds-assistive-text">Close</span>
				 </button>
				 <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Add Campaign</h2>
			  </header>
			  <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
			<center></center>
			  <lightning-record-edit-form object-api-name="CampaignMember" onsuccess={handleSuccess} onerror={handleError}>
	
			  <div class="slds-grid slds-grid--align-left" >
				<div class="slds-size--1-of-3">    
					<lightning-input-field field-name="CampaignId"></lightning-input-field>      
				</div>  
				<div class="slds-size--1-of-3"></div>
				<div class="slds-size--1-of-3">    
					<lightning-input-field field-name="ContactId" value={selectedconId} disabled></lightning-input-field>      
				</div>                   						   
			  </div>
			  <!-- div contains Sub Type and Due Date field of Task-->			  
			<br/><br/>
			<div class="slds-align_absolute-center">
			<lightning-button variant="brand" type="submit" name="save" label="Save">
			</lightning-button>&nbsp;&nbsp;
			 <button class="slds-button slds-button_neutral" onclick={closeModal}>Cancel</button>
			</div>
			</lightning-record-edit-form>
		 </div>
			  
		   </div>
		</section>
		<div class="slds-backdrop slds-backdrop_open"></div>
	  </template> 
</template>