.THIS.slds-button_neutral {
    background-color:var(--lwc-colorBackgroundRowSelected,rgb(236, 235, 234));
}
.button.slds-button.slds-button_neutral {
    background-color: var(--lwc-colorBackgroundRowSelected,rgb(236, 235, 234));
}
.slds-button_neutral:active, .slds-button--neutral:active {
    background-color: var(--lwc-colorBackgroundRowSelected,rgb(236, 235, 234));
}
.THIS.slds-button_neutral:active, .slds-button--neutral:active {
    background-color: var(--lwc-colorBackgroundRowSelected,rgb(236, 235, 234));
}