<template>
    <lightning-layout style="padding-right:30%">
      <lightning-layout-item flexibility="grow">
      </lightning-layout-item>
      <lightning-layout-item>
        <lightning-button 
              label="First" 
              icon-name="utility:chevronleft" 
               onclick={handleFirst}
               disabled={showFirstButton} variant="brand" class="slds-m-left_x-small">
        </lightning-button>
    
        <lightning-button 
              label="Previous" 
              icon-name="utility:chevronleft" 
               onclick={previousHandler}
               disabled={showFirstButton} variant="brand" class="slds-m-left_x-small">
        </lightning-button>
      </lightning-layout-item>
        
     <lightning-layout-item>
      <lightning-button 
            label="Next" 
            icon-name="utility:chevronright" 
            icon-position="right" 
            onclick={nextHandler}
            disabled={showLastButton} variant="brand" class="slds-m-left_x-small">
       </lightning-button>

      <lightning-button 
            label="Last" 
            icon-name="utility:chevronright" 
            icon-position="right" 
            onclick={handleLast}
            disabled={showLastButton} variant="brand" class="slds-m-left_x-small">
       </lightning-button>
     </lightning-layout-item>
    </lightning-layout>
   </template>