<template> 
	<div class="slds-grid">
		<div class="slds-col">  			   
			<lightning-card title="Opportunities" icon-name="action:new_opportunity" >
        <!--<div class="slds-clearfix">
          <div class="slds-float_right" style="padding-right: 1%;">            
          <lightning-button  label="New" title="New"  onclick={openModal} class="buttoncss"></lightning-button>
        </div>
        </div>--> 
        <lightning-button  label="New" title="New"  slot="actions" onclick={openModal} class="buttoncss"></lightning-button>  
        <template if:true={data}>
          <lightning-datatable key-field="Id" data={data} columns={columns} sorted-by={sortBy} sorted-direction={sortDirection} onsort={handleSortdata} max-row-selection={maxrowselection} onrowselection={getSelectedRecords} ></lightning-datatable>
          <div class="slds-m-around_medium">
            <p >Displaying {startingRecord} to {endingRecord} of {totalRecountCount} records.Page {page} of {totalPage}. </p>
            <template if:true={setPagination}>
            <c-hsmapeoplesearchpaginationvenkat onprevious={previousHandler} onnext={nextHandler} onfirst={handleFirst}  onlast={handleLast} currentpage={page} totalrecords={totalRecountCount} pagesize={pageSize}></c-hsmapeoplesearchpaginationvenkat>
            </template>
            </div>
        </template>
        <template if:false={data}>
          <center><p><b>No Opportunities present for the selected contact</b></p></center>
        </template>       
			</lightning-card>
		</div>
	</div>
	<template if:true={bShowModal}> 
		<section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
			<div class="slds-modal__container">
				<header class="slds-modal__header">
					<button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeModal}>
						<lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse" size="small" ></lightning-icon>
						<span class="slds-assistive-text">Close</span>
					</button>
					<h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">New Opportunity</h2>
        </header>		
        		
				<div class="slds-modal__content slds-p-around_medium" style="height: 80rem;" id="modal-content-id-1">
          <center></center>		
					<lightning-record-edit-form object-api-name="Opportunity" onsuccess={handleSuccess} layonsuccess={handleSuccess}  >
						<div class="slds-align_absolute-center">
							<lightning-button variant="brand" type="submit" name="save" label="Save"></lightning-button>&nbsp;&nbsp;
							<button class="slds-button slds-button_neutral" onclick={closeModal}>Cancel</button>
						</div>
						<div class="slds-grid slds-grid--align-left" >
              <div class="slds-size--1-of-3"><lightning-input-field field-name="Name"></lightning-input-field></div>
              <div class="slds-size--1-of-3"></div>
              <div class="slds-size--1-of-3"><lightning-input-field field-name="ContactId" value={selectedconId} disabled></lightning-input-field></div>
						</div>				
						<div class="slds-grid slds-grid--align-left" >
              <div class="slds-size--1-of-3"><lightning-input-field field-name="CloseDate"></lightning-input-field></div>
              <div class="slds-size--1-of-3"></div>
						  <div class="slds-size--1-of-3"><lightning-input-field field-name="StageName"></lightning-input-field></div>
						</div>				
            <div class="slds-grid slds-grid--align-left" >
                <div class="slds-size--1-of-3"><lightning-input-field field-name="Type"></lightning-input-field></div>
                <div class="slds-size--1-of-3"></div>
                <div class="slds-size--1-of-3"><lightning-input-field field-name="zipsma__DesiredEffectiveDate__c"></lightning-input-field></div>
            </div>
            <div class="slds-grid slds-grid--align-left" >
              <!-- </lightning-record-edit-form><div class="slds-size--1-of-3"><lightning-output-field field-name="ContactId" value={selectedconId}></lightning-output-field></div> -->
              <div class="slds-size--1-of-3"><lightning-input-field field-name="AccountId" value={selectedconaccId} style="display: none;"></lightning-input-field></div>
            </div>
					</lightning-record-edit-form> 
				</div>
			</div>
		</section>
		<div class="slds-backdrop slds-backdrop_open"></div>
  </template>
  <template if:true={selectedoppId}> 
    <br/>
    <c-hsmaquickfindertasklist onshowtask={handleShowTask} selectedopp-id={selectedoppId}></c-hsmaquickfindertasklist>
  </template> 
    <!--<template if:true={tasksHistory}>  
    <lightning-card title="Tasks History List" icon-name="action:new_task">  
        <div class="slds-m-around_medium">
            <table class="slds-table slds-table_cell-buffer slds-table_bordered slds-m-top_small">
                <thead>
                    <tr class="slds-line-height_reset">
                        <th class="" scope="col" style="background-color:var(--lwc-tableColorBackgroundHeader,rgb(250, 250, 249));"> <div class="slds-truncate" title="Subject">Subject</div> </th>
                        <th class="" scope="col" style="background-color:var(--lwc-tableColorBackgroundHeader,rgb(250, 250, 249));"> <div class="slds-truncate" title="Priority">Priority</div> </th>
                        <th class="" scope="col" style="background-color:var(--lwc-tableColorBackgroundHeader,rgb(250, 250, 249));"> <div class="slds-truncate" title="Status">Assign To</div> </th>
                        <th class="" scope="col" style="background-color:var(--lwc-tableColorBackgroundHeader,rgb(250, 250, 249));"> <div class="slds-truncate" title="Status">Status</div> </th>
                        </tr>
                </thead>
                <tbody>
                    <template for:each={tasksHistory} for:item="taskHist">
                        <tr class="slds-hint-parent" key={taskHist.Id}>
                            <th scope="row"> <div class="slds-truncate">{taskHist.Subject}</div> </th>
                            <th scope="row"> <div class="slds-truncate">{taskHist.Priority}</div> </th>
                            <th scope="row"> <div class="slds-truncate">{taskHist.Owner.Name}</div> </th>
                            <th scope="row"> <div class="slds-truncate">{taskHist.Status}</div> </th>
                        </tr>
                    </template>
                </tbody>
            </table>
        </div>
    </lightning-card>
</template>-->
</template>