.THIS label.slds-form-element__label{
    
    font-size: 1.00rem;
    color: blue;
}

.THIS.tablecol thead th span {
    background-color: #FF00FF;
    color: fuchsia;
}
.tablecls {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
.tablecls1 {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
.tablecls td,
.tablecls th {
    border: 1px solid #ddd;
    padding: 8px;
}
.tablecls1 td,
.tablecls1 th {
    border: 1px solid rgb(221, 221, 221) !important;
    padding: 8px;
}
.tablecls tr:nth-child(even) {
    background-color: #f2f2f2;
}
.tablecls1 tr:nth-child(even) {
    background-color: #bd1498;
}
.tablecls tr:hover {
    background-color:var(--lwc-colorBackgroundRowSelected,rgb(236, 235, 234));
}
.tablecls tr.selected {
    background-color:var(--lwc-colorBackgroundRowSelected,rgb(236, 235, 234));
}
.tablecls th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: #000000;
}
.datatablerow {
    padding-right: var(--lwc-spacingLarge,1.5rem);
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    text-align: left !important;
    color: #000 !important;    
    background-color: lightblue !important;
}
.slds-cell-fixed.slds-has-button-menu 
{
    padding-right: var(--lwc-spacingLarge,1.5rem);
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    text-align: left !important;
    color: #000 !important;    
    background-color: lightblue !important;
}
.slds-th__action
{
    padding-right: var(--lwc-spacingLarge,1.5rem);
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    text-align: left !important;
    color: #000 !important;    
    background-color: lightblue !important;
}
.THIS.slds-cell-fixed.slds-has-button-menu 
{
    padding-right: var(--lwc-spacingLarge,1.5rem);
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    text-align: left !important;
    color: #000 !important;    
    background-color: lightblue !important;
}
.slds-cell-fixed.slds-has-button-menu {
    background-color: red;
}
.THIS.slds-th__action
{
    padding-right: var(--lwc-spacingLarge,1.5rem);
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    text-align: left !important;
    color: #000 !important;    
    background-color: lightblue !important;
}
.THIS.slds-th__action
{
    padding-right: var(--lwc-spacingLarge,1.5rem);
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    text-align: left !important;
    color: #000 !important;    
    background-color: lightblue !important;
}
.THIS .datatabletablestyle thead th span {
    background-color: #16325c;
    color: white;
}
.THIS .table-test thead th span { 
    background-color: #16325c; 
    color: white;
}
.THIS.slds-cell-fixed {
    background-color: red;
    position: absolute;
    top: 0;
    min-height: 2rem;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 10ch;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
.button.slds-button.slds-button_neutral {
    background-color: var(--lwc-colorBackgroundRowSelected,rgb(236, 235, 234));
}
.slds-button_neutral,.slds-button--neutral
{
    background-color: var(--lwc-colorBackgroundRowSelected,rgb(236, 235, 234));
}
.slds-cell-fixed.slds-has-button-menu {
    background-color: var(--lwc-colorBackgroundRowSelected,rgb(236, 235, 234));
}
.slds-button_neutral, .slds-button--neutral
{
    background-color: var(--lwc-colorBackgroundRowSelected,rgb(236, 235, 234)); 
}
.THIS.slds-button_neutral, .slds-button--neutral
{
    background-color: var(--lwc-colorBackgroundRowSelected,rgb(236, 235, 234)); 
}